* {
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

.top {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.top__blocks {
    padding-top: 30px;
    padding-left: 40px;
    max-width: 370px;
    min-height: 291px;
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    
}

.center__block {
    /* background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06); */
}

h2 {
color: #000;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

p {
max-width: 682px;
min-width: 48px;
color: #666;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}

.p_content {
    max-width: 682px;
}

.read_more {
color: #000;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 16.5px */
}

.content {
    padding-top: 30px;
    padding-left: 40px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 */

.content_blocks {
    max-width: 370px;
    min-height: 549px;
}

.button_text {
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 19.5px */
}

.block01 {
    width: 385px;
}
.block02 {
    width: 385px;
}
.block03 {
    width: 385px;
}
